<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIKE</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Zenderbilla</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <button class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Service
                    </button>
                    <ul class="dropdown-menu dropdown-menu-white">
                      <li><a class="dropdown-item" href="car">CAR</a></li>
                      <li><a class="dropdown-item" href="bike">BIKE</a></li>
                      
                    </ul>
                  </li>
                </ul>
              </div>
             
            </ul>
          </div>
        </div>
      </nav>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="/bickesection/classic.png" class="card-img-top" alt="Classic 350">
            <div class="card-body">
              <h5 class="card-title">Classic 350</h5>
              <p class="card-text">
                Engine Capacity
                349 cc
                Mileage
                35 kmpl
                Transmission
                5 Speed Manual
                Kerb Weight
                195 kg
                Fuel Tank Capacity
                13 litres
                Seat Height
                805 mm
            </p>
            
            
            </div>
            <button><a href="login">Login</a></button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/bickesection/himalyan.jpeg" class="card-img-top" alt="Nissan Magnite">
            <div class="card-body">
              <h5 class="card-title">Himalayan 450</h5>
              <p class="card-text">Specifications
                Power & Performance
                Displacement
                
                452 cc
                Max Power
                39.47 bhp @ 8000 rpm
                Max Torque
                40 Nm @ 5500 rpm
                Mileage - Owner Reported
                
                30 kmpl
                
                
                </p>
                
            </div>
            <button><a href="login">Login</a></button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/bickesection/hunter.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hunter 350</h5>
              <p class="card-text">Engine Capacity
                349.34 cc
                Mileage - ARAI
                36 kmpl
                Transmission
                5 Speed Manual
                Kerb Weight
                177 kg
                Fuel Tank Capacity
                13 litres
                Seat Height
                800 mm</p>
            </div>
            <button><a href="login">Login</a></button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/bickesection/mt15.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mt15</h5>
              <p class="card-text">Engine Capacity
                155 cc
                Mileage
                48 kmpl
                Transmission
                6 Speed Manual
                Kerb Weight
                141 kg
                Fuel Tank Capacity
                10 litres
                Seat Height
                810 mm
                </p>
               
            </div>
            <button><a href="login">Login</a></button>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="/bickesection/Screenshot 2024-12-03 at 9.00.24 PM.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hero Destini</h5>
                <p class="card-text">Engine Capacity
                    124.6 cc
                    Mileage
                    50 kmpl
                    Kerb Weight
                    115 kg
                    Seat Height
                    778 mm
                    Fuel Tank Capacity
                    5 litres
                    Max Power
                    9 bhp
                    </p>
              </div>
              <button><a href="login">Login</a></button>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/bickesection/Screenshot 2024-12-03 at 9.00.24 PM.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">TVS Jupiter</h5>
                <p class="card-text">Power & Performance
                    Displacement
                    
                    113.3 cc
                    Max Power
                    7.91 bhp @ 6500 rpm
                    Max Torque
                    9.8 Nm @ 5000 rpm
                    Mileage - ARAI
                    
                    53.84 kmpl
                    </p>
              </div>
              <button><a href="login">Login</a></button>
            </div>
          </div>
      </div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
